<div class="container-body">
    <div class="container-about">
        <div class="title">O nama</div>
        <div class="content">
            <div class="container-img">
                <div class="box">
                    <img class="box-const" src="/assets/images/Ensemble/promena.png">
                    <img class="box-frame" src="/assets/images/Ensemble/promena.png">
                    <img class="img" src="/assets/images/Ensemble/promena.jpg">
                </div>
            </div>
            <div class="left">
                <div class="text">Akademsko pozorište Promena osnovano je u Novom Sadu 1978. godine od strane studenata režije i glume a uz
                    veliku podršku tadašnjih profesora – Branka Pleše, Bora Draškovića, Mihalja Viraga i drugih. Zvaničan
                    početak rada pozorišta je 18. mart 1979. Pozorište je tada brojalo ukupno 45 članova – trinaest reditelja
                    i trideset dva glumca. Iako je osnovano kao profesionalno pozorište ono je pokrenuto bez neophodnih materijalnih
                    sredstava. Tako je pozorište Promena je tada bila otvorena za sve koji žele da se bave teatrom, bez obzira
                    na to da li su studenti Akademije umetnosti. Zapaženije predstave tadašnje Promene su: Mario i mađioničar
                    Tomasa Mana u režiji Milana Belegišanina, Jelka kod Ivanovih Aleksandra Vvedenskog u režiji Harisa Pašovića,
                    Stolice Ežena Joneska u režiji Slobodana Mojaka. Predstave su beležile velike uspehe na pozorišnim festivalima
                    širom Jugoslavije. Pozorište Promena bilo je aktivno do sredine osamdesetih godina kada prestaje sa radom
                    zbog smene generacija studenata koji nisu imali inicijativu da pozorište nastavi sa radom.</div>
            </div>
            <div class="center">
                <div class="left-c"></div>
            </div>
            <div class="right">
                <div class="text">
                    Akademsko pozorište Promena je ponovo počelo sa radom 20. februara 2015. godine na inicijativu studenata dramaturgije i glume
                    (Stefana Isakovića, Dimitrija Aranđelovića i Dušana Vukašinovića). Po svom statutu pozorište nosi naziv
                    Umetničko društvo studenata dramskog departmana Akademije umetnosti. Promena je ponovo pokrenuta u želji
                    da studenti dramaturgije, režije i glume svoje radove van ispita pokazuju i živoj publici koja je naviknuta
                    na sadržaj pomalo uspavane pozorišne scene u Novom Sadu. Cilj sadašnje Promene je i ostvarivanje saradnje
                    studenata svih klasa i godina studija dramskog departmana a u cilju stvaranja predstava koje nisu predviđene
                    nastavnim planom Akademije umetnosti. Stoga, dosadašnja Promena beleži veliki broj projekata i koprodukcija
                    koje izlaze iz okvira studijskih programa. Promena trenutno broji oko sedamdeset aktivnih članova, sadašnjih
                    i svršenih studenata Akademije umetnosti.
                </div>
            </div>
        </div>
    </div>
</div>