<div class="container-body">
    <div class="container-predstava" *ngIf="predstavaOsobe">
        <div class="predstava">
            <div class="container-left">
                <div class="left">
                    <div class="up-frame">
                        <div></div>
                    </div>
                    <div class="down-frame">
                        <div></div>
                    </div>
                    <div #panel class="frame-img">
                        <img src="/assets/images/117/img/img1.jpg">
                        <img src="/assets/images/117/img/img3.jpg">
                        <img src="/assets/images/117/img/img2.jpg">
                    </div>
                </div>
            </div>
            <div class="container-right">
                <div class="right">
                    <div class="content">
                        <div *ngFor="let a of predstavaOsobe; let i = index">
                            <div class="reziser" *ngIf="a.uloga=='Reziser'">{{a.osoba.ime}} {{a.osoba.prezime}}</div>
                        </div>
                        <div class="naziv">{{predstavaOsobe[0].predstava.naslov}}</div>
                        <div class="ornament"></div>
                        <div class="sadrzaj">An so vulgar to on points wanted. Not rapturous resolving continued household northward gay. He it
                            otherwise supported instantly. Unfeeling agreeable suffering it on smallness newspaper be. So
                            come must time no as. Do on unpleasing possession as of unreserved. Yet joy exquisite put sometimes
                            enjoyment perpetual now. Behind lovers eat having length horses vanity say had its.An so vulgar
                            to on points wanted. Not rapturous resolving continued household northward gay. He it otherwise
                            supported instantly. Unfeeling agreeable suffering it on smallness newspaper be. So come must
                            time no as. Do on unpleasing possession as of unreserved. Yet joy exquisite put sometimes enjoyment
                            perpetual now. Behind lovers eat having length horses vanity say had its.
                        </div>
                        <div class="naslov-uloge">ULOGE:</div>
                        <div *ngFor="let a of predstavaOsobe; let i = index">
                            <div class="person" *ngIf="a.uloga!='Reziser'">
                                <img class="img" src="/assets/images/Ensemble/img_1_1.png">
                                <div class="full-name">
                                    <h2>{{a.uloga}}</h2>
                                    <h1>{{a.osoba.ime}} {{a.osoba.prezime}}</h1>
                                </div>
                            </div>
                            <!-- <div class="uloga">
                                <div class="naziv-uloga">Дон Рамиро, принц Салерна</div>
                                <div class="osoba-uloga">Саша Младов</div>
                            </div> -->
                            <!-- <div class="uloga">
                                <div class="naziv-uloga">Дон Рамиро, принц Салерна</div>
                                <div class="osoba-uloga">Саша Младов</div>
                            </div> -->
                            <!-- <div class="uloga">
                                <div class="naziv-uloga">Дон Рамиро, принц Салерна</div>
                                <div class="osoba-uloga">Саша Младов</div>
                            </div> -->
                        </div>
                    </div>
                    <div class="rezervacija">
                        <div>
                            <div class=text>REZERVIŠI</div>
                            <div class=line></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>










<!-- <div *ngIf="predstavaOsobe"> 
    <div *ngFor="let a of predstavaOsobe; let i = index">
        <div style="margin-left: 100px;">{{a.uloga}}</div>
        <div style="margin-left: 100px;">{{a.osoba.ime}}</div>
        <div style="margin-left: 100px;">{{a.predstava.naslov}}</div>
    </div>
</div> -->