<div class="container-body">
    <div class="container-contact">
        <div class="title">Kontakt</div>

        <div class="letter">
            <div class="left">
                <div class="message">
                    <div class="massage-label"> Vaša poruka:</div>
                    <textarea ng-model="myTextarea" class="massage-input"></textarea>
                </div>
                <div class="container-mail">
                    <label class=mail-label>Vaša mejl adresa:</label>
                    <input class="mail">
                </div>
                <div class="container-name">
                    <label class="name-label">Vaše ime:</label>
                    <div>
                        <input class="name">
                    </div>
                </div>
                <div class="conf">
                    <button class="conf-bt"> POŠALJI</button>
                </div>
            </div>
            <div class="right">
                <div class="container-stamp">
                    <div class="stamp">
                        <div class="text-1">POZORŠTE</div>
                        <div class="text-2">PROMENA</div>
                        <div class="line"></div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="t-data">
                    <div class="data-label">Telefon</div>
                    <div class="data-text">021 / 521 - 826</div>
                </div>
                <div class="t-data">
                    <div class="data-label">Mejl Adresa</div>
                    <div class="data-text">mladen.potrebic@gmail.com</div>
                </div>
                <div class="t-data">
                    <div class="data-label">Adresa</div>
                    <div class="data-text">Bulavar Kralja Petra, Novi Sad</div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--
<h1>Kontakt pozorista</h1>
<div>Facebook: <a href="https://web.facebook.com/promenapozoriste/">facebook</a> </div>
<div>Mail: <a>teatarpromena@gmail.com</a></div>
<div>Broj telefona: 0000-0000</div>
<div>Youtube kanal: <a>https://www.youtube.com/channel/UCVKjvnkck4QtTBZmAPu80vA</a></div>
-->