<div class="container-body"> 
  <div class="container-predstava">
    <div class="predstava">
      <div class="container-left">
        <div class="left">
          <div class="up-frame">
            <div (click)="onPreviousSearchPosition()"></div>
          </div>
          <div class="down-frame">
            <div (click)="onNextSearchPosition()"></div>
          </div>
          <div #panel class="frame-img">
            <img src="/assets/images/117/img/img1.jpg">
            <img src="/assets/images/117/img/img3.jpg">
            <img src="/assets/images/117/img/img2.jpg">
          </div>
        </div>
      </div>
      <div class="container-right">
        <div class="right">
          <div class="content">
            <div class="reziser">Ђоакино Росини</div>
            <div class="naziv">Пепељуга</div>
            <div class="ornament"></div>
            <div class="sadrzaj">Кад су Росини и Ферети тражили погодан сиже за нову оперу, композитор је писао свом либретисти: „немој заборавити
              да се Римљани у доба карневала желе забављати и смејати, а да се и ја хоћу смејати… “ И кад је Ферети онако
              узгред споменуо бајку Пепељуга, Росини се одмах одушевио, али као практичан и реалан дух, поставио му је захтев
              да из бајке Шарла Пероа избаци све елементе фантастичног и натприродног. „Идеја ти је блистава, али знања и
              равнања ради, запамти добро да желим Пепељугу без добрих вила с чаробним штапићем, без мачака које говоре или
              мишева који вуку краљевске кочије, без принчева на белом коњу, без метли које саме мету и сличних измишљотина.
              Ти знаш да ја не волим фантастику“, писао је Росини.
            </div>
            <div class="naslov-uloge">Улоге:</div>
            <div class="uloga">
              <div class="naziv-uloga">Дон Рамиро, принц Салерна</div>
              <div class="osoba-uloga">Саша Младов</div>
            </div>
            <div class="uloga">
              <div class="naziv-uloga">Дон Рамиро, принц Салерна</div>
              <div class="osoba-uloga">Саша Младов</div>
            </div>
            <div class="uloga">
              <div class="naziv-uloga">Дон Рамиро, принц Салерна</div>
              <div class="osoba-uloga">Саша Младов</div>
            </div>
            <div class="uloga">
              <div class="naziv-uloga">Дон Рамиро, принц Салерна</div>
              <div class="osoba-uloga">Саша Младов</div>
            </div>
          </div>
          <div class="rezervacija">
            <div>
              <div class=text>РЕЗЕРВИШИ</div>
              <div class=line></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






<!-- <div *ngFor="let predstavaOsoba of predstavaOsobe; let i = index">  
  <h1> zdravo ovo je uloga: {{predstavaOsoba.uloga}}</h1>
  <br/>
  <h2> zdravo ovo je ime osobe: {{predstavaOsoba.osoba.ime}}</h2>
  <h2> zdravo ovo je prezime osobe: {{predstavaOsoba.osoba.prezime}}</h2>
  <br/>
  <h5> zdravo ovo je naslov predstave: {{predstavaOsoba.predstava.naslov}}</h5>
  <h5> zdravo ovo je opis predstave: {{predstavaOsoba.predstava.opis}}</h5>
  <h5> zdravo ovo je slika predstave: {{predstavaOsoba.predstava.slika}}</h5>
  <h5> zdravo ovo su slike predstave: {{predstavaOsoba.predstava.slike.sadrzaj}}</h5>
  <h5> zdravo ovo je video predstave: {{predstavaOsoba.predstava.video}}</h5>
  <br/>
</div> -->