<div class="container-body">
  <div class="container-ensemble">
    <div class="title">Ansambl</div>
    <div class="content">
      <div class="left" (mouseover)="imgVersion = 2" (mouseout)="imgVersion = 1">
        <div class="basic">
          <div class="center">
            <img class="img" src="/assets/images/Ensemble/img_1_{{imgVersion}}.png">
            <div class="name-s">Mladen Potrebic</div>
            <div class="information">
              <div class="line">
                <div></div>
              </div>
              <div class="name-full">Mladen Potrebic</div>
              <div class="line-v"></div>
              <div class="position">Glumac</div>
            </div>

          </div>

        </div>
        <div class="mail-address">
          <div class="text">Kontakt</div>
          <div class="small-line"></div>
          <div class="text">mladen.potrebic@gmail.com</div>
        </div>
      </div>
      <div class="right">
        <div class="container-list">
          <div class="title">GLUMCI</div>
          <div class="title">/</div>
          <div class="title">Dramaturzi</div>
          <div class="list">
            <div class="person">
              <img class="img" src="/assets/images/Ensemble/img_1_1.png">
              <div class="full-name">
                <h1>Nikoleta Stamenkovic</h1>
              </div>
            </div>
            <div class="person">
              <img class="img" src="/assets/images/Ensemble/img_1_1.png">
              <div class="full-name">
                <h1>Nikoleta Stamenkovic</h1>
              </div>
            </div>
            <div class="person">
              <img class="img" src="/assets/images/Ensemble/img_1_1.png">
              <div class="full-name">
                <h1>Nikoleta Stamenkovic</h1>
              </div>
            </div>
            <div class="person">
              <img class="img" src="/assets/images/Ensemble/img_1_1.png">
              <div class="full-name">
                <h1>Nikoleta Stamenkovic</h1>
              </div>
            </div>
            <div class="person">
              <img class="img" src="/assets/images/Ensemble/img_1_1.png">
              <div class="full-name">
                <h1>Nikoleta Stamenkovic</h1>
              </div>
            </div>
            <div class="person">
              <img class="img" src="/assets/images/Ensemble/img_1_1.png">
              <div class="full-name">
                <h1>Nikoleta Stamenkovic</h1>
              </div>
            </div>
          </div>
          <div class="pagination">
              <div class="left-a" (click)="ocitajStranu(0)" style="margin-left: 1px"></div>
              <div class="page-a">
                <span>
                  <span *ngIf="currentPageNumber<10">0</span>{{currentPageNumber+1}}</span>
              </div>
              <div class="line-a">
                <!-- *ngFor="let number of ukupnoStranaNiz; let i=index"
                <a [ngStyle]="{'border': currentPageNumber == i ? '2px solid #337ab7' : '#ddd'}"
                     (click)="ocitajStranu(i)" class="page-link" style="margin-left: 1px">{{i+1}}</a> -->
              </div>
              <div class="pages-a">
                <span>
                  <span *ngIf="ukupnoStrana<10">0</span>{{ukupnoStrana}}</span>
              </div>
              <div class="right-a" (click)="ocitajSledecuStranu()" style="margin-left: 1px"></div>
            </div>
            
          <!-- <div class="pagination">
            <div class="left-a"></div>
            <div class="page-a">
              <span>01</span>
            </div>
            <div class="line-a"></div>
            <div class="pages-a">
              <span>05</span>
            </div>
            <div class="right-a"></div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

















<!--

<div *ngFor="let osoba of osobe; let i = index">
  <div>{{osoba.ime}}</div>
  <div>{{osoba.prezime}}</div>
  <div>{{osoba.slika1}}</div>
  <div>{{osoba.slika2}}</div>
  <div>{{osoba.opis}}</div>
  <div>{{osoba.prioritet}}</div>
  <div>{{osoba.brojTelefona}}</div>
  <div>{{osoba.mejl}}</div>
</div>
-->
<!-- export interface Osoba {
  id?: number;
  ime: string;
  prezime: string;
  slika1: string;
  slika2: string;
  opis: string;
  prioritet: number;
  brojTelefona: number;
  mejl: string;
} -->